<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>size2json</title>
</head>
<body>
    <p>{{ message }}</p>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="file">Выберите файл:</label>
        <input name="file" type="file">
        <button type="submit">Загрузить</button>
    </form>
</body>
</html>
